@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
